<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.electronicbusiness.dao.ProductMapper">

    <select id="findAll" resultType="com.dd.electronicbusiness.model.Product">
        SELECT * FROM products
    </select>

    <select id="findById" resultType="com.dd.electronicbusiness.model.Product">
        SELECT * FROM products WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.dd.electronicbusiness.model.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO products (name, description, price, stock, image_url)
        VALUES (#{p.name}, #{p.description}, #{p.price}, #{p.stock}, #{p.imageUrl, jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.dd.electronicbusiness.model.Product">
        UPDATE products
        SET name = #{p.name},
            description = #{p.description},
            price = #{p.price},
            stock = #{p.stock},
            image_url = #{p.imageUrl, jdbcType=VARCHAR}
        WHERE id = #{p.id}
    </update>

    <delete id="deleteById">
        DELETE FROM products WHERE id = #{id}
    </delete>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM products
    </select>
</mapper>